<div id="container">
	<div id="top">
    </div>
	<div id="middle">
		<!--<div id="layer1"></div>-->
		<div id="layer2">
			<div id="place"></div>

			<a href="signup">
			<div id="signup">
				<p class="divText">Create Account</p>
			</div>
			</a>

			<div id="place"></div>

			<a href="login">
			<div id="signup">
				<p class="divText">Sign In</p>
			</div>
			</a>

			<div id="place"></div>

		</div>
		<!--<div id="layer3"></div>-->


	</div>
	<div id="bottom"></div>
</div>