
#containerHC {
	background-image:url(bg.jpg);
	height: 100%;
	background-size: cover;
	border: 1px solid red;
	margin: 0 auto;
}

#topDivHC {
	height: 300px;
	margin: 5px;
	margin: 0 auto;
	/*border: 2px solid red;*/
}

h1.divText {
	font-family: Garamond;
	font-size: 200%;
	color: green;
	position: relative;
	margin: 0;
	text-align: center;
	top: 50%;
	transform: translateY(150%);
}

#selconcerns {
	font-family: Garamond;
	font-size: 125%;
	color: red;
	margin: 0;
	text-align: center;
	top: 30%;
	transform: translateY(150%);
}

#middleDivHC, #bottomDivHC{
	/*border: 2px solid red;*/
	height: 400px;
	min-width: 900px;
	max-width: 1800px;
	margin: 0 auto;
	white-space: nowrap;
}

#centerOfPageContainerHC {
	border: 5px solid white;
	height: 400px;
	width: 1050px;
	margin: 0 auto;
	/*background-color: purple;*/
	/*float: left;*/

}

#outerDiv {
	border: 2px solid transparent;
	width: 200px;
	height: 150px;
	float: left;
	margin-left: 5px; /*is 5px when you add the border*/
	margin-top: 60px;
	margin-bottom: 20px;
	position: relative;
	white-space: nowrap;
}

#picOuterDiv {
	/*border: 2px solid red;*/
	width: 180px;
	height: 85px;
	margin: 0 auto;
}

#picDiv {
	/*border: 2px solid black;*/
	width: 80px;
	height: 80px;
	margin: 0 auto;
}


#ck {
	float: left;
	margin-top: 25px;
	margin-right: 25px;
	margin-left: 25px;
}


#labelDiv {
	border: 2px solid transparent;
	width: 180px;
	height: 60px;
	margin: 0 auto;
	color: green;
	text-align: left;
}


#submitButton {
	width: 400px;
	margin-left: 325px;

}

#startShopping {
	/*border: 2px solid blue;*/
	width:100%;
	height: 100px;
	float:left;
}