
#pageContainer {
	background-image:url(bg.jpg);
	height: 100%;
	background-size: cover;
	border: 1px solid red;
	margin: 0 auto;
}



#top {
	height: 400px;
	margin: 5px;
	margin: 0 auto;
}

#middle, #bottom{
	height: 400px;
	min-width: 900px;
	max-width: 1800px;
	margin: 0 auto;
	white-space: nowrap;
}

#layer1 {
	height: 400px;
	width: 33.3%;
	background-color: red;
	float: left;

	opacity: 1;

}

#layer2 {
	border: 5px ;
	height: 350px;
	width: 500px;
	margin: 0 auto;
	/*background-color: purple;*/
	/*float: left;*/

}

#dataupload {
	background-color: blue;
	border: 2px solid white;
	width: 80px;
	height: 30px;
	float: left;
	text-align: center;
	color: red;
	margin-top: 5px;
	margin-right: 5px;
}

#cncrnupload {
	background-color: blue;
	border: 2px solid white;
	width: 150px;
	height: 30px;
	float: left;
	text-align: center;
	color: red;
	margin-top: 5px;
	margin-right: 5px;
}

.jumbotron1 {
  padding-top: 6vw;
  color: black;
  text-align: center;
  background-color: rgba(0,0,0,0);
}

.jumbotron1 h3
{
    margin-top: 2mm; 
    margin-bottom: 20mm;
    font-size: 4.0vw;
    text-shadow: 1px 1px #BBBBBB;
    font-family: "Times New Roman", Georgia, Serif;
}

.jumbotron h3
{
    margin-top: 3mm; 
    margin-bottom: 20mm;
    font-size: 4.0vw;
    text-shadow: 1px 1px #BBBBBB;
    font-family: 'Pacifico', cursive;
}



#signup {
	border:2px solid white;
	height: 20%;
	width: 70%;
	background-color: green;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

#place {
	height: 20%;
	width: 70%;
	background-color: yellow;
	margin: 0 auto;
	padding: 0;
	position: relative;
	line-height: 50%;

	opacity: 0;

}

p.divText {
	font-family: Garamond;
	font-size: 200%;
	color: white;
	position: relative;
	margin: 0;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

#layer3 {
	height: 400px;
	min-width: 27%;
	max-width: 38%;
	background-color: yellow;

	display:inline-block;
	opacity: 1;


}